/*
Theme Name: HelPet theme
Theme URI: https://helpet.com/theme
Author: HelPet team
Author URI: https://helpet.com
Description: Created theme for helpet project
Template: twentyseventeen
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: helpet
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
*/
@import url("../twentyseventeen/style.css");

/*!
 * Start Bootstrap - HelPet v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2017 Carlos Agudelo
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  overflow-x: hidden;
  font-family: "lato", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #777777;
} 
.text-primary {
  color: #ffcc29;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #ffcc29;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #fec503;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #ffcc29;
  border-color: #ffcc29;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #ffcc29;
  border-color: #ffcc29;
}
.btn-primary .badge {
  color: #ffcc29;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #ff7610;
  border-color: #ff7610;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #fa7620;
  border-color: #fa7620;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #ffcc29;
  border-color: #ffcc29;
}
.btn-xl .badge {
  color: #ffcc29;
  background-color: white;
}
.btn-readmore {
  color: white;
  background-color: #ffcc29;
  border-color: #ffcc29;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 15px 40px;
  font-size: 14px;
  line-height: 10px;
  font-weight: 400;
}
.btn-readmore:hover,
.btn-readmore:focus,
.btn-readmore:active,
.btn-readmore.active,
.open .dropdown-toggle.btn-readmore {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-readmore:active,
.btn-readmore.active,
.open .dropdown-toggle.btn-readmore {
  background-image: none;
}
.btn-readmore.disabled,
.btn-readmore[disabled],
fieldset[disabled] .btn-readmore,
.btn-readmore.disabled:hover,
.btn-readmore[disabled]:hover,
fieldset[disabled] .btn-readmore:hover,
.btn-readmore.disabled:focus,
.btn-readmore[disabled]:focus,
fieldset[disabled] .btn-readmore:focus,
.btn-readmore.disabled:active,
.btn-readmore[disabled]:active,
fieldset[disabled] .btn-readmore:active,
.btn-readmore.disabled.active,
.btn-readmore[disabled].active,
fieldset[disabled] .btn-readmore.active {
  background-color: #ffcc29;
  border-color: #ffcc29;
}
.btn-readmore .badge {
  color: #ffcc29;
  background-color: white;
}
.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #ffcc29;
  padding-top: 5px;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #ffcc29;
  border-color: #ffcc29;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #ffcc29;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ff7610;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #ffcc29;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: #ff7610;
  background-color: #ffcc29;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ff7610;
  background-color: #fec503;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
.header-home {
  background-image: url('assets/images/header-dog.png') !important;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  display: block;
  height: calc(100vh - 0px);
}

.header-blog{
  background-image: url('assets/images/blogs.png') !important;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  display: block;
  height: 400px;
}
.header-historias{
  background-image: url('assets/images/historias.png') !important;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  display: block;
  height: 400px;
}


header .intro-text {
  padding-top: 400px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Comfortaa", "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 218px;
  line-height: 35px;
  margin-bottom: 79px;
  letter-spacing: -2px;
}
header .intro-text .intro-heading {
  font-family: "lato", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 25;
  font-size: 45px;
  line-height: 15px;
  margin-bottom: 20px;
  letter-spacing: -1px;
}
@media (max-width: 768px) {
  header .intro-text {
    padding-top: 350px;
    padding-bottom: 180px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Comfortaa", "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 128px;
    line-height: 70px;
    margin-bottom: 11px;
    letter-spacing: -5px;
  }
  header .intro-text .intro-heading {
    font-family:  "lato", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 37px;
    line-height: 45px;
    margin-bottom: 1%;
    letter-spacing: -1px;
  }
}
@media (max-width: 430px) {
  header .intro-text {
    padding-top: 350px;
    padding-bottom: 180px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Comfortaa", "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 92px;
    line-height: 70px;
    margin-bottom: -8px;
    letter-spacing: -5px;
  }
  header .intro-text .intro-heading {
    font-family:  "lato", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 30;
    font-size: 25px;
    line-height: 45px;
    margin-bottom: -5px;
    letter-spacing: -1px;
  }
}
@media (max-width: 310px) {
  header .intro-text {
    padding-top: 350px;
    padding-bottom: 180px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Comfortaa", "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 70px;
    line-height: 70px;
    margin-bottom: -17px;
    letter-spacing: -5px;
  }
  header .intro-text .intro-heading {
    font-family:  "lato", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 20;
    font-size: 15px;
    line-height: 45px;
    margin-bottom: -10px;
    letter-spacing: -1px;
  }
}
@media screen and (max-device-width: 768px) {
  header .intro-text {
    padding-top: 350px;
    padding-bottom: 180px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Comfortaa", "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 128px;
    line-height: 70px;
    margin-bottom: 11px;
    letter-spacing: -5px;
  }
  header .intro-text .intro-heading {
    font-family:  "lato", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 37px;
    line-height: 45px;
    margin-bottom: 1%;
    letter-spacing: -1px;
  }
}

@media screen and (max-device-width: 430px) {
  header .intro-text {
    padding-top: 350px;
    padding-bottom: 180px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Comfortaa", "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 92px;
    line-height: 70px;
    margin-bottom: -8px;
    letter-spacing: -5px;
  }
  header .intro-text .intro-heading {
    font-family:  "lato", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 30;
    font-size: 25px;
    line-height: 45px;
    margin-bottom: -5px;
    letter-spacing: -1px;
  }
}
@media screen and (max-device-width: 310px) {
  header .intro-text {
    padding-top: 350px;
    padding-bottom: 180px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Comfortaa", "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 70px;
    line-height: 70px;
    margin-bottom: -17px;
    letter-spacing: -5px;
  }
  header .intro-text .intro-heading {
    font-family:  "lato", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 20;
    font-size: 15px;
    line-height: 45px;
    margin-bottom: -10px;
    letter-spacing: -1px;
  }
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
.service-heading {
  font-size: 20px;
  text-transform: none;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  height: 240px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .blog-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: #eeeeee;
  text-align: left;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: #eeeeee;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
.post-content {
  font-family: "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  color: #777777;   
  padding: 0;
  margin: 0 0 20px 0;
}
.post-byline {
    overflow: hidden;
    text-transform: uppercase;
    position: relative;
    padding: 0 0 10px;
    margin: 0 0 20px;
    color: #ffcc29;
    font-size: 0.9em;
}
.post-title:after {
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    background-color: #ffcc29;
    margin-top: 20px;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #ffcc29;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
aside.clients img {
  margin: 50px auto;
}
section#contact {
  background-color: #222222;
  background-image: url('../img/cats.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group select,
section#contact .form-group option,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group select.form-control {
  height: auto;
}
section#contact .form-group option.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #ffcc29;
  box-shadow: none;
}
section#contact {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact .text-danger {
  color: #e74c3c;
}
footer {
  padding: 25px 0;
  text-align: center;
  font-size: 16px;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #ffcc29;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #ffcc29;
}
::selection {
  text-shadow: none;
  background: #ffcc29;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #ffcc29;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
/* COMMENTS */
.comments { clear:both; margin:0; }
.comments-list { list-style:none; padding:0; margin:0 0 30px; }
.comment { overflow:hidden; list-style:none; margin:0 0 10px; padding:0; }
.comment.bypostauthor > .comment-body { background:rgba(80,80,180,0.05); }
.comment .comment-avatar { float:left; width:50px; }
.comment .comment-avatar img { display:block; width:100%; }
.comment .comment-body { margin:0 0 20px 50px; background: #F0F0F0; padding:0px 10px 10px; }
.comment .comment-title { position:relative; padding:0 0 10px; margin:0 0 10px; }
.comment .comment-title:before { content:' '; position:absolute; background:#bbb; bottom:0; left:0; width:100px; height:1px; }
.comment .comment-author { display:block; font-size:1.3em; line-height:1.2em; margin:0 0 5px; }
.comment .comment-date { font-size:0.9em; text-transform:uppercase; }
.comment .comment-approval { display:block; padding:0 10px 0; margin:0; }
.comment .comment-content { margin:0; padding:0; }
.comment .comment-options {overflow:hidden;float:right;text-align:right;padding:5px 10px;border-radius:2px;font-size:0.9em;border:1px solid #eee;}
.comment .comment-options a { margin-left:10px; }
.comment .comment-options a:first-child { margin:0; }
/* Contents Styling for Comment Body */
.comment .comment-content ul, 
.comment .comment-content ol { margin-bottom:18px; }
.comment .comment-content p:last-child { margin-bottom:6px; }
.comment .comment-content blockquote p:last-child { margin-bottom:24px; }
/* Nested Comments */
.comment .children { list-style:none; margin:0 0 0 50px; }
/* Pingbacks & Trackbacks */
.comments ol.pinglist { margin:0; }
.comments .pingback { list-style:none; margin:0 0 10px 0; }
.comments .pingback .url { font-style:italic; }
/* Author Comments */
.bypostauthor {}

/* POST LISTING */
.post  { margin:0 0 40px; background:#fff; padding-top: 5%; }
.post .post-image { margin:0; }
.post .post-image img { display:block; margin:0; line-height:0em; width:100%; height:auto; border-radius:0; }
.post .post-body { padding:20px; border:1px solid #ddd; }
.post .post-title { font-size:1.4em; padding:0; margin:0 0 10px 0; color: black;  }
.post .post-title a { color: black; /*color:inherit;*/ }
.post .post-byline { overflow:hidden; text-transform:uppercase; position:relative; padding:0 0 10px; margin:0 0 20px; color:#aaa; font-size:0.9em; }
.post .post-byline:before { content:' '; position:absolute; background:#bbb; bottom:0; left:0; width:100px; height:1px; }
.post .post-byline div { float:left; position:relative; padding:0 22px 0 0; margin-bottom:10px; }
.post .post-byline div:last-child { padding-right:0; }
.post .post-content { padding:0; margin:0 0 20px 0; }
.post .post-content p:last-child { margin-bottom:0; }
.post .post-readmore { margin:0; }
.post .post-tags { display:block; margin:0 0; }
.post .post-tags a { display:inline-block; padding:5px 10px; border:1px solid #ddd; border-radius:50px; margin:0 10px 10px 0; }
.post .post-comments { float:right; padding:10px 20px; border:1px solid #ddd; border-radius:50px; }
.post .post-comments a { color:inherit; }
.post .post-comments a:hover { opacity:0.7; text-decoration:none; }
.post .post-comments a:after { content:' \f0e5'; font-family:'fontawesome'; }
#blog .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#blog .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  height: 240px;
}
#blog .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#blog .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#blog .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#blog .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#blog .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#blog .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#blog .portfolio-item .blog-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: #eeeeee;
  text-align: left;
  padding: 25px;
}
#blog .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: #eeeeee;
  text-align: center;
  padding: 25px;
}
#blog .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#blog .portfolio-item .portfolio-caption p {
  font-family: "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#blog * {
  z-index: 2;
}
@media (min-width: 767px) {
  #blog .portfolio-item {
    margin: 0 0 30px;
  }
}
.more-link{
  display: none;
}
.entry-meta {
    font-family: "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    color: #777777;
    padding: 0;
    margin: 0 0 20px 0;
    text-align: right;
    font-size: 10px;
}
.entry-date {
  font-family: "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  color: #777777;
  padding: 0;
  margin: 0 0 20px 0;
}
.blog-title { font-size:1.4em; padding:0; margin:0 0 10px 0; color: black; text-align: left; }
.blog-title:after {
    content: "";
    text-align: right;
    width: 80%;
    height: 2px;
    display: block;
    background-color: #ffcc29;
    margin-top: 20px;
}
.hh{
  color: black;
}
header .intro-text-category {
  padding-top: 200px;
  padding-bottom: 50px;
}
header .intro-text-category .intro-lead-in {
  font-family: "Comfortaa", "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 152px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 25px;
    margin-left: 0%;
    margin-top: -2%;
}
header .intro-text-category .intro-heading {
  font-family:  "lato", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  header .intro-text-category {
    padding-bottom: 180px;
  }
  header .intro-text-category .intro-lead-in {
    font-family: "Comfortaa", "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 85px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 25px;
    margin-left: 0%;
    margin-top: -2%;
  }
  header .intro-text-category .intro-heading {
    font-family:  "lato", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}

@media (max-width: 430px) {
  header .intro-text-category {
    padding-bottom: 180px;
  }
  header .intro-text-category .intro-lead-in {
    font-family: "Comfortaa", "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 59px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 25px;
    margin-left: 0%;
    margin-top: -2%;
  }
  header .intro-text-category .intro-heading {
    font-family:  "lato", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}

@media (max-width: 310px) {
  header .intro-text-category {
    padding-bottom: 180px;
  }
  header .intro-text-category .intro-lead-in {
    font-family: "Comfortaa", "lato", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 446%;
    font-weight: 800;
    line-height: 80%;
    margin-bottom: 25px;
    margin-left: 0%;
    margin-top: -2%;
  }
  header .intro-text-category .intro-heading {
    font-family:  "lato", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
.categories{
  padding: 50px 0;
}
.logo{
  width: 100px;
  height: 100px;
}
.logo img {
    width: 100%;
    height: auto;
}
.navbar-brand{
  margin-left: 20% !important;

}
.heart{
  color: red;
}
@media (max-width: 766px) {
  .navbar-brand {
    display: none;
  }
}
.fa-3x {
    font-size: 6em;
}
.titlte-first-home{
  font-weight: 950;
  color: #ff7610;
}
.titlte-second-home{
  color: #ffcc29;
}
.subtitle-home{
  color: #ff7610;
}
.history-title{
  font-size: 22px;
}
.blog-title{
  font-size: 18px;
}
.img-responsive {
  display: block;
  width: 100%;
  height: 100%;
}

